input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
 
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333; /* Dark gray text */
  padding: 10px 15px; /* Top/bottom 10px, left/right 15px */
    background-color: #f9f9f9;
     border: 2px solid #ccc; /* Example: 2px solid light gray border */
        border-radius: 20px; /* Rounded corners */
}

input:hover{
    border-color: #521384; /* purple border on focus */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle blue shadow */
        outline: none; /* Remove default browser outline */
}

  input::placeholder {
        color: #999;
        font-style: italic;
        
    }

    
        input{
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

button{
  width: 40%;
 /* Basic Styling */
  background-color:#FF1E8A;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin:10px;
  
  /* Shadow and Transition for interactivity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease; /* Smooth transitions for hover/active states */
}
.create-container{
  flex:display;
  flex-directiomn:column;
  justify-content:center;
  align-items:center;





     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
     transition: 0.3s;
 background-color: #FFE5EB;
    box-sizing: border-box;
    margin-top:5rem;
}

.navbar{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
}
.heading{
     text-align: center;   
    font-size: 15px

    margin:10px;
    padding:10px;
    
    color:rgb(255, 22, 134);
}
.heading-sub{
   text-align: center;
   
    font-size: 10px
   
    margin:10px;
    padding:10px;
    color:rgb(255, 22, 134);
}

button:hover {
    background-color:  #521384;; /* Darker green on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}

.div {
  border-radius: 5px;
  background-color: #c65757ff;
  padding: 20px;
}

.card-container{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
  flex-wrap:wrap;
}


/* Mobile view */
@media only screen and (max-width: 760px) {
    .create-link-container{
      
      flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        
     
    }
.navbar{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
    .card-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  align-content:center;
  justify-content:center;

}


  }