/* Card section style */
.card_section{
  /* flex box stlyling to align items as a vertical stack */
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
 
    /* width and height of card */
    width: 200px;     /* 👈 instead of max-width */
  height: 200px; 
  
/* padding and margin */
     margin:1rem;
     box-sizing: border-box;

/* transitions */
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.2s;

     /* Colors */
   background-color: #f4f5f0;
    color: #521384;
   }

   .card-hearder{
    font-size:18px;
    font-weight:bold;
   }
   p{
    font-size:15px;
font-weight:normal;

  }

.card-button{
    flex:display;
    flex-direction:space-between;
    align-items:center;
    gap:10px;
    
}
/* Card hover style */
.card_section:hover{
    transform: scale(1.1);
  cursor: pointer;


}
/*  Image styling*/

/* Content style */
.card_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
}

.update-button{
     width: 100px;
 /* Basic Styling */
 background-color:#FF1E8A;
  color: white;
  padding: 5px ;
  border: none;
  border-radius: 20x; /* Rounded corners */
  cursor: pointer;
  
  font-size: 12px;
  font-weight: small;
  text-align:center;
  text-transform: uppercase;

  margin:5px;
  
  /* Shadow and Transition for interactivity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
  transition: all 0.3s ease; /* Smooth transitions for hover/active states */
}

.delete-icon{

}

.delete-icon:hover{
/* /  transition: all 0.3s ease; Smooth transitions for hover/active states\ */
  transform: scale(0.3);
  color:black
}