.heading{
     text-align: center;
   
    font-size: 15px
    font-family:sans-serif;
    margin:10px;
    padding:10px;
    color:rgb(255, 22, 134);
}

.home-container{
margin: 0 auto;
heigth:100%;
  max-width:70%;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
     transition: 0.3s;
 background-color: #FFE5EB;
    box-sizing: border-box;
    margin-top:5rem;
}

@media only screen and (max-width: 760px) {
.home-container{

heigth:100%;
  max-width:100%;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
     transition: 0.3s;
    background-color: #FFE5EB;
    box-sizing: border-box;
    margin-top:2rem;
}
}


  